@import "tailwindcss";

@theme {
  --color-primary: #603C59;      
  --color-secondary: #EDE9DA;    
  --color-accent: #7BA693;       
  --color-button: #C73E5B;       
  --color-bg: #FFF8F6;          
  --color-text: #2F2F2F;         
  --color-muted: #888888;        
  --color-line: #E0E0E0;         
  --color-info: #FFA23A;         
  --color-success: #33B27F;      
  --color-error: #FF5A5F;   
}

body {
  font-family: "Inter", sans-serif;
}
